<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BrainFlip</title>
    <link rel="stylesheet" href="/static/styles/game.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="/static/images/logoBF.png" alt="BrainFlip">
        </div>
        <nav>
            <a href="/landing">Home</a>
            <a href="/dashboard">Dashboard</a>
            <a href="/game" class="active">Game</a>
            <a href="/leaderboard">Leaderboard</a>
            <div class="auth-buttons">
                <button onclick="location.href='/api/login'">Login</button>
                <button onclick="location.href='/api/register'">Registration</button>
            </div>
        </nav>
    </header>
    <main>
        <div class="breadcrumb">
            <a href="/templates/landing.html">Home</a> / <span>Game</span>
        </div>
    </main>
    <div class="buttons">
        <span>Start Game</span>
    </div>

    <div class="player-container">
        <div class="name">
            Hello: <span></span>
        </div>
        <div class="flips">
            Wrong Flips: <span>0</span>
        </div>
        <div class="time">
            Time: <span>00:00</span>
        </div>
    </div>

    <div class="game-blocks">
        <div class="card-block" harry-potter="friends">
            <div class="side front">
                <img src="/static/images/back.png" alt="">
            </div>
            <div class="side back">
                <img src="/static/images/friends.png" alt="">
            </div>
        </div>
        <div class="card-block" harry-potter="friends">
            <div class="side front">
                <img src="/static/images/back.png" alt="">
            </div>
            <div class="side back">
                <img src="/static/images/friends.png" alt="">
            </div>
        </div>

        <div class="card-block" harry-potter="gryffindor">
            <div class="side front">
                <img src="/static/images/back.png" alt="">
            </div>
            <div class="side back">
                <img src="/static/images/gryffindor.png" alt="">
            </div>
        </div>
        <div class="card-block" harry-potter="gryffindor">
            <div class="side front">
                <img src="/static/images/back.png" alt="">
            </div>
            <div class="side back">
                <img src="/static/images/gryffindor.png" alt="">
            </div>
        </div>

        <div class="card-block" harry-potter="harryflying">
            <div class="side front">
                <img src="/static/images/back.png" alt="">
            </div>
            <div class="side back">
                <img src="/static/images/harry flying.png" alt="">
            </div>
        </div>
        <div class="card-block" harry-potter="harryflying">
            <div class="side front">
                <img src="/static/images/back.png" alt="">
            </div>
            <div class="side back">
                <img src="/static/images/harry flying.png" alt="">
            </div>
        </div>

        <div class="card-block" harry-potter="harryicon">
            <div class="side front">
                <img src="/static/images/back.png" alt="">
            </div>
            <div class="side back">
                <img src="images/harry_potter_icon.png" alt="">
            </div>
        </div>
        <div class="card-block" harry-potter="harryicon">
            <div class="side front">
                <img src="/static/images/back.png" alt="">
            </div>
            <div class="side back">
                <img src="/static/images/harry_potter_icon.png" alt="">
            </div>
        </div>

        <div class="card-block" harry-potter="hedwigflying">
            <div class="side front">
                <img src="/static/images/back.png" alt="">
            </div>
            <div class="side back">
                <img src="/static/images/hedwig flying.jpg" alt="">
            </div>
        </div>
        <div class="card-block" harry-potter="hedwigflying">
            <div class="side front">
                <img src="/static/images/back.png" alt="">
            </div>
            <div class="side back">
                <img src="/static/images/hedwig flying.jpg" alt="">
            </div>
        </div>

        <div class="card-block" harry-potter="hedwig">
            <div class="side front">
                <img src="/static/images/back.png" alt="">
            </div>
            <div class="side back">
                <img src="/static/images/hedwig.jpg" alt="">
            </div>
        </div>
        <div class="card-block" harry-potter="hedwig">
            <div class="side front">
                <img src="/static/images/back.png" alt="">
            </div>
            <div class="side back">
                <img src="/static/images/hedwig.jpg" alt="">
            </div>
        </div>

        <div class="card-block" harry-potter="key">
            <div class="side front">
                <img src="/static/images/back.png" alt="">
            </div>
            <div class="side back">
                <img src="/static/images/key.jpg" alt="">
            </div>
        </div>
        <div class="card-block" harry-potter="key">
            <div class="side front">
                <img src="/static/images/back.png" alt="">
            </div>
            <div class="side back">
                <img src="images/key.jpg" alt="">
            </div>
        </div>

        <div class="card-block" harry-potter="letters">
            <div class="side front">
                <img src="/static/images/back.png" alt="">
            </div>
            <div class="side back">
                <img src="/static/images/letters.png" alt="">
            </div>
        </div>
        <div class="card-block" harry-potter="letters">
            <div class="side front">
                <img src="/static/images/back.png" alt="">
            </div>
            <div class="side back">
                <img src="/static/images/letters.png" alt="">
            </div>
        </div>

        <div class="card-block" harry-potter="logo">
            <div class="side front">
                <img src="/static/images/back.png" alt="">
            </div>
            <div class="side back">
                <img src="/static/images/logo.png" alt="">
            </div>
        </div>
        <div class="card-block" harry-potter="logo">
            <div class="side front">
                <img src="/static/images/back.png" alt="">
            </div>
            <div class="side back">
                <img src="/static/images/logo.png" alt="">
            </div>
        </div>

        <div class="card-block" harry-potter="platform">
            <div class="side front">
                <img src="/static/images/back.png" alt="">
            </div>
            <div class="side back">
                <img src="/static/images/platform-9-3-4.jpg" alt="">
            </div>
        </div>
        <div class="card-block" harry-potter="platform">
            <div class="side front">
                <img src="/static/images/back.png" alt="">
            </div>
            <div class="side back">
                <img src="/static/images/platform-9-3-4.jpg" alt="">
            </div>
        </div>

        <div class="card-block" harry-potter="title">
            <div class="side front">
                <img src="/static/images/back.png" alt="">
            </div>
            <div class="side back">
                <img src="/static/images/title.png" alt="">
            </div>
        </div>
        <div class="card-block" harry-potter="title">
            <div class="side front">
                <img src="/static/images/back.png" alt="">
            </div>
            <div class="side back">
                <img src="/static/images/title.png" alt="">
            </div>
        </div>

        <div class="card-block" harry-potter="trio">
            <div class="side front">
                <img src="/static/images/back.png" alt="">
            </div>
            <div class="side back">
                <img src="/static/images/trio.png" alt="">
            </div>
        </div>
        <div class="card-block" harry-potter="trio">
            <div class="side front">
                <img src="/static/images/back.png" alt="">
            </div>
            <div class="side back">
                <img src="/static/images/trio.png" alt="">
            </div>
        </div>
    </div>
    <audio id="matched" src="/static/audio/matched.wav" preload="auto"></audio>
    <audio id="wrong" src="/static/audio/wrong.mp3" preload="auto"></audio>
  <script src="/static/scripts/game.js"></script>
</body>
</html>
