<header>
    <div class="logo">
        <img src="/static/images/logoBF.png" alt="BrainFlip">
    </div>
    <nav>
        <a href="/landing">Home</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/game">Game</a>
        <a href="/leaderboard">Leaderboard</a>
        <div class="auth-buttons">
            <button onclick="location.href='/api/login'">Login</button>
            <button onclick="location.href='/api/register'">Registration</button>
        </div>
    </nav>
</header>

<!--note how to add the active class here since it's applied on all tabs?-->
