<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BrainFlip</title>
    <link rel="stylesheet" href="styles/game.css">
</head>
<body>
  <div class="buttons">
    <span>Start Game</span>
  </div>

  <div class="player-container">
    <div class="name">
        Hello: <span></span>
    </div>
    <div class="flips">
        wrong flips: <span>0</span>
    </div>
  </div>

  <div class="game-blocks">
    <div class="card-block" harry-potter="friends">
        <div class="side front">
            <img src="images/back.png" alt="">
        </div>
        <div class="side back">
            <img src="images/friends.png" alt="">
        </div>
    </div>
    <div class="card-block" harry-potter="friends">
        <div class="side front">
            <img src="images/back.png" alt="">
        </div>
        <div class="side back">
            <img src="images/friends.png" alt="">
        </div>
    </div>

    <div class="card-block" harry-potter="gryffindor">
        <div class="side front">
            <img src="images/back.png" alt="">
        </div>
        <div class="side back">
            <img src="images/gryffindor.png" alt="">
        </div>
    </div>
    <div class="card-block" harry-potter="gryffindor">
        <div class="side front">
            <img src="images/back.png" alt="">
        </div>
        <div class="side back">
            <img src="images/gryffindor.png" alt="">
        </div>
    </div>

    <div class="card-block" harry-potter="harryflying">
        <div class="side front">
            <img src="images/back.png" alt="">
        </div>
        <div class="side back">
            <img src="images/harry flying.png" alt="">
        </div>
    </div>
    <div class="card-block" harry-potter="harryflying">
        <div class="side front">
            <img src="images/back.png" alt="">
        </div>
        <div class="side back">
            <img src="images/harry flying.png" alt="">
        </div>
    </div>

    <div class="card-block" harry-potter="harryicon">
        <div class="side front">
            <img src="images/back.png" alt="">
        </div>
        <div class="side back">
            <img src="images/harry_potter_icon.png" alt="">
        </div>
    </div>
    <div class="card-block" harry-potter="harryicon">
        <div class="side front">
            <img src="images/back.png" alt="">
        </div>
        <div class="side back">
            <img src="images/harry_potter_icon.png" alt="">
        </div>
    </div>

    <div class="card-block" harry-potter="hedwigflying">
        <div class="side front">
            <img src="images/back.png" alt="">
        </div>
        <div class="side back">
            <img src="images/hedwig flying.jpg" alt="">
        </div>
    </div>
    <div class="card-block" harry-potter="hedwigflying">
        <div class="side front">
            <img src="images/back.png" alt="">
        </div>
        <div class="side back">
            <img src="images/hedwig flying.jpg" alt="">
        </div>
    </div>

    <div class="card-block" harry-potter="hedwig">
        <div class="side front">
            <img src="images/back.png" alt="">
        </div>
        <div class="side back">
            <img src="images/hedwig.jpg" alt="">
        </div>
    </div>
    <div class="card-block" harry-potter="hedwig">
        <div class="side front">
            <img src="images/back.png" alt="">
        </div>
        <div class="side back">
            <img src="images/hedwig.jpg" alt="">
        </div>
    </div>

    <div class="card-block" harry-potter="key">
        <div class="side front">
            <img src="images/back.png" alt="">
        </div>
        <div class="side back">
            <img src="images/key.jpg" alt="">
        </div>
    </div>
    <div class="card-block" harry-potter="key">
        <div class="side front">
            <img src="images/back.png" alt="">
        </div>
        <div class="side back">
            <img src="images/key.jpg" alt="">
        </div>
    </div>

    <div class="card-block" harry-potter="letters">
        <div class="side front">
            <img src="images/back.png" alt="">
        </div>
        <div class="side back">
            <img src="images/letters.png" alt="">
        </div>
    </div>
    <div class="card-block" harry-potter="letters">
        <div class="side front">
            <img src="images/back.png" alt="">
        </div>
        <div class="side back">
            <img src="images/letters.png" alt="">
        </div>
    </div>

    <div class="card-block" harry-potter="logo">
        <div class="side front">
            <img src="images/back.png" alt="">
        </div>
        <div class="side back">
            <img src="images/logo.png" alt="">
        </div>
    </div>
    <div class="card-block" harry-potter="logo">
        <div class="side front">
            <img src="images/back.png" alt="">
        </div>
        <div class="side back">
            <img src="images/logo.png" alt="">
        </div>
    </div>

    <div class="card-block" harry-potter="platform">
        <div class="side front">
            <img src="images/back.png" alt="">
        </div>
        <div class="side back">
            <img src="images/platform-9-3-4.jpg" alt="">
        </div>
    </div>
    <div class="card-block" harry-potter="platform">
        <div class="side front">
            <img src="images/back.png" alt="">
        </div>
        <div class="side back">
            <img src="images/platform-9-3-4.jpg" alt="">
        </div>
    </div>

    <div class="card-block" harry-potter="title">
        <div class="side front">
            <img src="images/back.png" alt="">
        </div>
        <div class="side back">
            <img src="images/title.png" alt="">
        </div>
    </div>
    <div class="card-block" harry-potter="title">
        <div class="side front">
            <img src="images/back.png" alt="">
        </div>
        <div class="side back">
            <img src="images/title.png" alt="">
        </div>
    </div>

    <div class="card-block" harry-potter="trio">
        <div class="side front">
            <img src="images/back.png" alt="">
        </div>
        <div class="side back">
            <img src="images/trio.png" alt="">
        </div>
    </div>
    <div class="card-block" harry-potter="trio">
        <div class="side front">
            <img src="images/back.png" alt="">
        </div>
        <div class="side back">
            <img src="images/trio.png" alt="">
        </div>
    </div>
  </div>
</body>
</html>