<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BrainFlip - Landing Page</title>
    <link rel="stylesheet" href="styles/landing.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#intro">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="game.html">Play Game</a></li>
                <li><a href="#features">Features</a></li>
            </ul>
        </nav>
    </header>

    <section id="intro">
        <div class="cover">
            <img src="images/coverphoto.png" alt="BrainFlip Cover Image">
            <div class="intro-text">
                <h1>Sharpen your mind with our exciting memory game!</h1>
                <a href="game.html" class="play-button">Play Now</a>
            </div>
        </div>
    </section>

    <section id="features">
        <h2>Some of BrainFlip Features</h2>
        <div class="features-container">
            <div id="feature1" class="feature">
                <img src="images/feature1.png" alt="Feature 1 Image">
                <div class="feature-info">
                    <h3>User Authentication</h3>
                    <p>Users can log in and register to keep track of their progress and compete on the leaderboard.</p>
                </div>
            </div>

            <div id="feature2" class="feature">
                <img src="images/feature2.png" alt="Feature 2 Image">
                <div class="feature-info">
                    <h3>Memory Matching Game</h3>
                    <p>Engage in a fun and challenging memory matching game where you flip cards to find matching pairs.</p>
                </div>
            </div>

            <div id="feature3" class="feature">
                <img src="images/feature3.png" alt="Feature 3 Image">
                <div class="feature-info">
                    <h3>Score Tracking and Leaderboard</h3>
                    <p>Track your scores and see how you rank against other players on the leaderboard.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="about">
        <h2>About BrainFlip</h2>
        <div class="about-container">
            <p>BrainFlip is a project born from months of collaboration between my teammate and me at ALX Program; we have been working together on all Team Projects.
                Inspired by our desire to create a fun and engaging way to improve memory skills. and with a shared love for Harry Potter, we decided to theme our memory game around this magical world.
                As a Portfolio Project forALX, we are eager to share our journey and we hope you enjoy playing BrainFlip as much as we enjoyed creating it!</p>
            <h3>Meet the Team:</h3>
            <ul>
                <li>
                    <strong>Team Member 1: Heba AbdAllah</strong>
                    <ul>
                        <li><a href="https://www.linkedin.com/in/hebamagdy/">LinkedIn</a></li>
                        <li><a href="https://github.com/HebaM94">GitHub</a></li>
                        <li><a href="https://x.com/HebaMagdi94">Twitter</a></li>
                    </ul>
                </li>
                <li>
                    <strong>Team Member 2: Heba Zaki</strong>
                    <ul>
                        <li><a href="https://www.linkedin.com/in/heba-borhan">LinkedIn</a></li>
                        <li><a href="https://github.com/HebaBorhan">GitHub</a></li>
                        <li><a href="https://x.com/heba_zaki87">Twitter</a></li>
                    </ul>
                </li>
            </ul>
            <p>Check out our project on <a href="https://github.com/HebaBorhan/BrainFlip">GitHub</a>.</p>
        </div>
    </section>

    <section id="contact">
        <!-- Content for the contact section -->
    </section>

    <script src="scripts/landing.js"></script>
</body>
</html>
